*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3f788d;
  }
  
  :root{
    --largeHeading: 1.3rem;
    --smallHeading: 0.9rem;
    --lightColor: rgb(251, 248, 248);
    --darkColor: rgb(10, 10, 10);
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
   background: rgba(226, 218, 237, 0.318);
  }
  
  /* main content */
  #content-container{
    position: relative;
    width: 290px;
    margin: 0px auto;
    padding: 25px;
    border-radius: 10px;
    background: #031c42;
  }
  
  /* Heading */
  #container-heading{
    margin: 0px auto 20px auto;
    text-align: center;
    font-size: var(--largeHeading);
    font-weight: 540;
    color: rgb(25, 143, 186);
    background: #dde1e7;

  }
  
  /* calculations-container */
  #calculations-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 15px 25px;
    color: var(--darkColor);
    font-size: var(--smallHeading);
    background: #c0d3ef;

  }
  
  /* content division */
  .content-division{
    width: 100%;
  }
  
  /* sub heading */
  .division-heading{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--smallHeading);
    font-weight: 550;
    padding: 0px 5px;
    margin: 5px 0px 10px 0px;
    background: #dde1e7;
  }
  
  .division-heading::before{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    content: "";
    width: 70px;
    height: 1px;
    background: #dde1e7;
    
  }
  
  .division-heading::after{
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    content: "";
    width: 70px;
    height: 1px;
    background: #dde1e7;
    
  }
  
  /* inputs container */
  .inputs-container{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
  }
  
  /* input elements (input boxes, dropdowns, button) */
  .inputs{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: var(--smallHeading);
  }
  
  /* input fields and select dropdowns */
  .input-field , .dropdown {
    padding: 5px 10px;
    font-family: 'Segoe UI', sans-serif;
    background: #dde1e7;
    
  }
  
  .dropdown, #convert-btn, footer a{
    cursor: pointer;
  }
  
  /* dropdown container */
  .dropdown-container{
    position: relative;
  }
  
  .dropdown-container::after{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--smallHeading);
    background: #f8f9f9;
    
    content: "\25bc";
    pointer-events: none;
  }
  
  /* dropdown */
  .dropdown{
    appearance: none;
    background: #fafcff;
   
  }
  
  /* clickable input field */
  #input-box{
    transition: 0.2s;
    background: #fafcff;
 
  }
  
  #input-box:focus{
    background: #dde1e7;
    
  }
  
  /* disabled input field */
  #result-box{
    background: #fafcff;
    
  }
  
  /* button */
  #convert-btn{
    margin: 10px 0px;
    padding: 10px;
    
    background: #f1f3f5;
    
  }
  
  #convert-btn:hover{
    background: #e8eaed;
    
  }
  
  #convert-btn:active{
    background: #eef0f2;
    
  }
  
  /* footer section */
  footer{
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-size: 14px;
    font-weight: 550;
    background: #dde1e7;
   
    text-align: center;
    padding: 15px 0px;
  }
  
  /* footer link */
  footer a{
    text-decoration: none;
    
  }
  
  footer a:hover{
    background: #dde1e7;
    
  }
  
  
  /* For large mobile devices */
  @media(min-width: 481px){
  
    #content-container{
      width: 360px;
      padding: 25px 30px;
    }
  
    #calculations-container{
      padding: 20px 30px;
    }
  
    .input-field , .dropdown {
      padding: 7px 10px;
  }
  }
  
  /* For tablet devices */
  @media(min-width: 768px){
  
    :root{
      --largeHeading: 1.6rem;
      --smallHeading: 1.1rem;
    }
  
    #content-container{
      width: 480px;
      padding: 35px;
    }
  
    #container-heading{
      margin: 0px auto 25px auto;
    }
  
    #calculation-container{
      padding: 15px 40px;
    }
  
    .division-heading::before{
      width: 100px;
      height: 1.7px;
    }
    
    .division-heading::after{
      width: 100px;
      height: 1.7px;
    }
    
  
    .inputs-container{
      display: grid;
      grid-template-columns: 45% 45%;
      justify-content: space-between;
    }
  
    .inputs{
      font-weight: 550;
    }
  
    footer{
      font-size: 16px;
    }
   }